

.homePageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #1a0f17;
}

.formWrapper {
    background: #24121c;
    padding: 35px;
    border-radius: 12px;
    width: 420px;
    max-width: 90%;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

.logoTitle {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 8px;
}

.logoTitle h2 {
    margin: 0;
    font-weight: 600;
}

.subText {
    font-size: 14px;
    color: #d6336c;
    margin-bottom: 25px;
}

.mainLabel {
    font-size: 14px;
    margin-bottom: 18px;
    color: #d1b3c2;
}

.inputGroup {
    display: flex;
    flex-direction: column;
}

.inputBox {
    font-family: 'Orbitron', sans-serif;
    padding: 12px;
    border-radius: 6px;
    border: none;
    margin-bottom: 15px;
    background: #2d1623;
    color: #f8eaf1;
    font-size: 12px;
}

.inputBox::placeholder {
      font-family: 'Orbitron', sans-serif;
    color: #b98aa2;
    font-size: 12px;
}

.btn {
      font-family: 'Orbitron', sans-serif;
    border: none;
    padding: 10px;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: 0.2s ease;
}

.joinBtn {
      font-family: 'Orbitron', sans-serif;
    background: #820539; 
    width: 100px;
    margin-left: auto;
    color: white;
}

.joinBtn:hover,.leaveBtn:hover {
    background: #a3154c;
}

.createInfo {
    margin-top: 18px;
    font-size: 14px;
    text-align: center;
    color: #caa2b6;
}

.createNewBtn {
    color: #d6336c;
    text-decoration: none;
    border-bottom: 1px solid #d6336c;
}

.createNewBtn:hover {
    color: #ff4d8d;
    border-color: #ff4d8d;
}

footer {
    position: fixed;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 10px;
    color: #caa2b6;
}

footer a {
  font-size: 10px;
    color: #e2588f;
    text-decoration: none;
}
.mainWrap {
    display: grid;
    grid-template-columns: 260px 1fr;
    height: 100vh;
    overflow: hidden;
}

.aside {
    background: #1c1e29;
    padding: 16px;
    color: #fff;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}
.asideInner {
    flex: 1;
}

.clientsList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.client {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-weight: bold;
}
.userName {
    margin-top: 10px;
}

.logo {
    border-bottom: 1px solid #424242;
    padding-bottom: 6px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.logoImage {
    height: 75px;
    width: auto;
    display: block;
}

.leaveBtn {
    width: 100%;
    margin-top: 20px;
    background-color: #820539;
}
.aside h3 {
    margin: 6px 0 10px 0;
}
.CodeMirror {
    min-height: calc(100vh - 20px);
    font-size: 17px;
    line-height: 1.6;
    padding-top: 20px;
}