body {
  margin: 0;
   font-family: 'Orbitron', sans-serif;
  background: #1a0f17;
  color: #f8eaf1;
}

/* h1, h2, h3, h4 {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1.5px;
  text-transform: none;
  font-weight: 600;
} */s

.CodeMirror {
    min-height: calc(100vh - 20px);
    font-size: 20px;
    line-height: 1.6;
    padding-top: 20px;
}

.homePageLogo {
  width: 60px;
  height: auto;
  display: block;
  margin: 0 auto 12px auto;
}