body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  background: #1a0f17;
  color: #f8eaf1;
}
* {
  font-family: 'Orbitron', sans-serif;
}
/* h1, h2, h3, h4 {
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 1.5px;
  text-transform: none;
  font-weight: 600;
} */

/* Code areas = developer feel */
code, pre, .CodeMirror {
  font-family: 'JetBrains Mono', monospace;
}

.homePageLogo {
  width: 60px;
  height: auto;
  display: block;
  margin: 0 auto 12px auto;
}